*
    box-sizing border-box

body
    padding 50px
.resize-container
    left 50px
    top 50px
    position absolute
    width 300px
    height 200px
    border 1px solid #198cff
.resizer
    cursor ne-resize
    position absolute
    height 6px
    width 6px
    background-color #ffffff
    color #198cff
    border-radius 50%
    border 2px solid #198cff

.left-top
    left -4px
    top -4px
.right-top
    right -4px
    top -4px
.left-bottom
    left -4px
    bottom -4px
.right-bottom
    right -4px
    bottom -4px